body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 248, 220),
    rgb(223, 213, 176)
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}

#header {
  display: flex;
  margin: 20px 0 20px 0;
}

h1 {
  justify-content: center;
  font-size: 50px;
  margin: 10px auto;
}

h2 {
  justify-content: center;
  font-size: 50px;
  margin: 10px auto;
}

#reset-button {
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: underline;
  font-weight: bold;
  justify-content: center;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  height: 618px;
  width: 618px;
  margin: 0 auto;
  box-shadow: 3px 3px 15px 4px rgba(148, 148, 148, 0.5);
}

.tile {
  border: 3px solid black;
  height: 200px;
  width: 200px;
  background-color: white;
}

.display {
  padding: 0;
}

#player-move {
  font-size: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
}
